<div class="container">
  <br>
  <button (click)="sortByName()">Sort by Name</button>
  <button (click)="sortbyColor()">Sort by Color</button>

<ul class="list-inline">
<app-cats-item *ngFor="let cat of cats; let i = index"  [singleCat]="cat" [index]="i"></app-cats-item>
</ul>



</div>

<button class="btn btn-warning">Alarm</button>




<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="d('Close click')">Close</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  
  <hr>
  
