<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Edit Attributes</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <form [formGroup]="inputsForm"> 
    <div class="modal-body">
      <p>Add or edit Fields</p>
          <div class="row">
              <div class="col-lg-6">
                  <div class="row">
                      <div class="col-6">
                          <label>Cat Name</label>
                      </div>
                      <div class="col-6">
                      <input type="text" formControlName="name" class="form-control" >
                      <span *ngIf="!inputsForm.get('name').valid && inputsForm.get('name').touched">This is required</span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                          <label>Cat Color</label>
                      </div>
                      <div class="col-6">
                          <input type="text" formControlName="color" class="form-control">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                          <label>Owner Number</label>
                      </div>
                      <div class="col-6">
                          <input type="text" formControlName="ownerNumber" class="form-control">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-6">
                          <label>Image</label>
                      </div>
                      <div class="col-6">
                          <input type="text" formControlName="imageURL" class="form-control">
                      </div>
                  </div>
              </div>
          </div>
    </div>
    <div class="modal-footer">
      <button [disabled]="!inputsForm.valid" type="button" class="btn btn-secondary" (click)="c('Close click'); setValues()">Add</button>
      <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
  </form>
  </ng-template>
  <div class="add-layer">
      <button class="btn btn-sm btn-outline-primary" (click)="open(content)">Add new Cat</button> 
  </div>