

<li class="list-inline-item">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

            <div  form-group>
                    <label for="catName">Name</label>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      name="catName"
                      ngModel
                      required
                    >
                    <div  form-group>
                            <label for="catColor">Name</label>
                            <input
                              type="text"
                              id="name"
                              class="form-control"
                              name="catColor"
                              ngModel
                              required
                            >
                            <div  form-group>
                                    <label for="ownerId">Name</label>
                                    <input
                                      type="text"
                                      id="name"
                                      class="form-control"
                                      name="ownerId"
                                      ngModel
                                      required
                                    >
      
        
        
    </form>
    <img [src]="imgPath"/>
    </li>
   